<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>User Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-label>FirstName </mat-label>
          <mat-form-field class="full-width">
            <input matInput formControlName="firstName" (change)="updateOnChange()"
              [(ngModel)]="newUser.FirstName">
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              First name is
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-label>Last Name </mat-label>
          <mat-form-field class="full-width">


            <input matInput formControlName="lastName" (change)="updateOnChange()" [(ngModel)]="newUser.LastName">
            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="col">
          <mat-label>TZ </mat-label>
          <mat-form-field class="full-width">
            <input matInput (blur)="saveTZ()" (change)="updateOnChange()" formControlName="TZ" [(ngModel)]='newUser.TZ'>
            <mat-error *ngIf="addressForm.controls['TZ'].hasError('required')">
              T.Z. is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div>
        <div class="col">
          <mat-label>Choose HMO </mat-label>
          <mat-form-field class="full-width">
            <mat-select formControlName="HMO" (selected)="updateOnChange()" [(ngModel)]='newUser.HMO'>
              <mat-option *ngFor="let H of HMO" [value]="H.abbreviation">
                {{ H.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['HMO'].hasError('required')">
              HMO is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Your Born Date:</mat-label>
            <input matInput [matDatepicker]="picker" (change)="updateOnChange()" formControlName="Date"
              [(ngModel)]='newUser.BornDate'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="addressForm.controls['Date'].hasError('required')">
              Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group aria-checked="male" formControlName="genus" (selected)="updateOnChange()"
            [(ngModel)]='newUser.Genus'>
            <mat-radio-button value="male">male</mat-radio-button>
            <mat-radio-button value="fmale">fmale</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button mat-button type="button" (click)="addKids()">
            + Add kids
          </button>
        </div>
      </div>
      <div class="row" *ngFor="let kid of kids; let i=index">
        <div class="col">
          <app-kid-component [kid]="kid" [index]="i"></app-kid-component>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>

  </mat-card><a routerLink="/Instructions">Instructions</a>
</form>