<div>
  <form [formGroup]="addressForm" novalidate>
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Kid Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">

          <div class="col">
            <mat-label>Full Name </mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="fullName" (change)="updateOnChange()" [(ngModel)]="newKid.FullName">
              <mat-error *ngIf="addressForm.controls['fullName'].hasError('required')">
                Full name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div>
          <div class="col">
            <mat-label>TZ </mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="TZ" (change)="updateOnChange()" [(ngModel)]="newKid.TZ">
              <mat-error *ngIf="addressForm.controls['TZ'].hasError('required')">
                T.Z. is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" (change)="updateOnChange()" formControlName="Date"
                [(ngModel)]="newKid.BornDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="addressForm.controls['Date'].hasError('required')">
                Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>